services:
  backend:
    build: ./backend
    container_name: django_backend
    env_file:
      - ./backend/.env.local
    command: >
      sh -c "
      python manage.py collectstatic --noinput &&
      gunicorn foodie_haven.wsgi:application --bind 0.0.0.0:8000
      "
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - media_volume:/app/media
    depends_on:
      - db
      - redis

  celery:
    build: ./backend
    container_name: celery_worker
    command: celery -A foodie_haven worker -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env.local
    depends_on:
      - backend
      - redis

  frontend:
    image: node:20-alpine
    container_name: angular_frontend
    working_dir: /app
    volumes:
      - ./frontend/foodie-frontend:/app
    command: npm start -- --host 0.0.0.0
    ports:
      - "4200:4200"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: django_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: redis

volumes:
  mysql_data:
  media_volume:
