<section class="features">
  <div class="home">
    <img src="assets/images/about1.png" alt="foodieheaven">
  </div>
  <div class="home">
    <img src="assets/images/about2.png" alt="foodieheaven">
  </div>
  <div class="home">
    <img src="assets/images/about3.png" alt="foodieheaven">
  </div>
  <div class="home">
    <img src="assets/images/about4.png" alt="foodieheaven">
  </div>
  <div class="home">
    <img src="assets/images/about5.png" alt="foodieheaven">
  </div>
</section>

<h3 style="text-align: center;">Want to try our recipes?</h3>
<div class="sign">
  <a routerLink="/register"><button>Sign Up</button></a>
</div>